/*  CSS styling for main display
	STC digital signage project
    ITGS HL project by Matt Chan 2011-12 
    Homepage: http://themattchan.com
    Live demo: http://themattchan.com/itgsproject
    GitHub: http://github.com/themattchan/STCsignageTV.git
    Order for fonts (sans-serif):Helvetica Neue, Helvetica, Myriad Pro, Gil Sans, Verdana, Tahoma, Arial
*/

html {
	background:grey;
	font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	overflow:hidden;
	width:100%;
	}	

body{
margin-top, margin-bottom:50px;
margin-left:auto;
margin-right:auto;
background:white;
width:75%;
border-radius:20px;
padding: 25px 50px;
}

#left{
display:block;
float:left;
width:50%;
}

#right{
display:block;
float:left;
width:50%;
}

ul{list-style-type:none;}



